*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*da sostotuire con loghi e nav */
.container{
  margin: 0 auto;
  width: 1200px;
  max-width: 90%;
}

.men첫 ul{
  display: flex;
  text-align: center;
  flex-direction: row;
  list-style: none;
  
}

.men첫 ul li a{
  padding: 12px 52px;
  display: flex;
  text-align: center;
  text-decoration: none;
  color: white;
}

.men첫 ul li a:hover{
  text-decoration: underline;
  color: white;
}

header .bottone button{
  display: inline-block;
  color: black;
  background-color: white;
  border: 10px solid white;
  border-radius: 30px;
}

header{
  height: 80px;
  background-color: #3061e0;
  align-items: center;
}

header .container{
   padding: 15px;
   display: flex;
   justify-content: space-between; 
} 
/* da sostituire con l'immagine*/
.jumbotron{
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.jumbotron .content{
  max-width: 800px;
}

/* tutto il main*/
section.bg-lightgrey{
background-color: lightgrey;
}

section .container{
display: flex;
}

section .container .image{
width: 60%;
}

section .container .text{
width: 40%;

}

section.last .container{
flex-direction: column;
justify-content: space-around;
align-items: center;
}

/*tutto il footer*/
footer{
  border-color: darkslategray;
} 

.footer-top{
  display: flex;

}

.social{
  width: calc(100% / 3);
}

.men첫{
  width: calc(100% / 6);
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
}







