*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*da sostotuire con loghi e nav */
.container{
  margin: 0 auto;
  width: 1200px;
  max-width: 90%;
}

header .menù ul{
  display: flex;
  text-align: center;
  flex-direction: row;
  list-style: none;
  
}

header .menù ul li a{
  padding: 12px 52px;
  display: flex;
  text-align: center;
  text-decoration: none;
  color: white;
}

.menù ul li a:hover{
  text-decoration: underline;
  color: white;
}

header .bottone button{
  display: inline-block;
  color: black;
  background-color: white;
  border: 10px solid white;
  border-radius: 30px;
}

header{
  height: 80px;
  background-color: #3061e0;
  align-items: center;
}

header .container{
   padding: 15px;
   display: flex;
   justify-content: space-between; 
} 
/* da sostituire con l'immagine*/
.jumbotron{
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url(../img/jumbo.png);
  background-size: cover;
}

.jumbotron .content{
  padding: 100px 0px;
    text-align: center;
    width: 50%;
}

.content h1{
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 10%;
}

.content p{
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  padding-bottom: 10%;
}

.pulsanti{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.pulsanti .scarica{
  background-color: white;
  border: 10px solid white;
  border-radius: 30px;
    color: black;
    padding: 2px 10px;
}

.pulsanti .apri{
  background-color: rgba(10, 9, 9, 1);
  border: 10px solid rgba(10, 9, 9, 1);
  border-radius: 30px;
    color: white;
    padding: 5px 10px;
}

.pulsanti .scarica::before{
  content: '\2193';
  padding-right: 2px;
  font-size: large;
}


/* tutto il main*/
section.bg-lightgrey{
  background-color: lightgrey;
}

section .container{
  display: flex;
}

section .container .image{
  width: 60%;
}

section .container .text{
  width: 40%;
}

.image img{
  display: flex;
  align-items: center;
  padding-top: 10%;
}

.text h2{
  text-align: start;
  font-size: 60px;
  font-weight: 600;
  padding-top: 20%;
  color: rgba(10, 9, 9, 0.774);
}

.text p{
  text-align: start;
  padding-top: 10%;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  padding-bottom: 10%;
  color: rgba(10, 9, 9, 0.774)
}

.box-text h2{
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  padding-top: 20%;
  padding-bottom: 5%;
  color: rgba(10, 9, 9, 0.774);
}

.box-text p{
  text-align: justify;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: rgba(10, 9, 9, 0.774);
}

section.last .container{
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.action{
  padding: 60px;
  background-image: url(/img/stars.svg);
  background-repeat: no-repeat;
  min-height: 25%;
  min-width: 25%;
}

.action span{
  margin: 0 auto;
  display: block;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
  color: rgba(10, 9, 9, 0.774);
}

.action button{
  margin: 20px 30%;
  color: white;
  background-color: #3061e0;
  border: 10px solid #3061e0;
  border-radius: 30px;
}

.action button::before{
  content: '\2193';
  padding-right: 2px;
  font-size: large;
}
/*tutto il footer*/
footer{
  background-color: rgba(10, 9, 9, 0.774);
  color: aliceblue;
  width: 100%;
  max-height: 600px;
} 

.footer-top{
  display: flex;
  border-bottom: 2px solid #91abec;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
  max-width: 90%;
}

.social{
  width: calc(100% / 3);
}

.social h2{
  font-size: 60px;
  font-weight: 600;
  color: #3061e0;
}

.social img{
  height: 16px;
  vertical-align: auto;
}

.social span::after{
  contain:'\2304';
  color: aliceblue;
}

.footer-top .menù{
  width: calc(100% / 6);
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  margin: 0 auto;
  width: 1200px;
  max-width: 90%;
}

.footer-bottom .bottone a{
  background-color: #3061e0;
  border: 10px solid #3061e0;
  border-radius: 30px;
    color: white;
    padding: 2px 10px;
}







